<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
		<targets>
			<target name="logfile" xsi:type="File" fileName="C://Users//user//Desktop//Миронов//усл//file.txt"
              Layout="${level}|${logger}|${message}|${longdate}" 
              />
      <target name="Mail" xsi:type="Mail" html="true" subject="Error Received"
				 body="${message}"
				 to="some1@some.com"
				 from="some@gmail.com"
				 encoding="UTF-8"
				 smtpUserName="some@some.com"
				 enableSsl="false"
				 smtpPassword="password"
				 smtpAuthentication="Basic"
				 smtpServer="smtp.some.com"
				 smtpPort="25" />
		</targets>
		<rules>
			<logger name="*" level="Info" writeTo="logfile" />
			<logger name="*" level="Warn" writeTo="logfile" />
      <logger name="*" level="Error" writeTo="logfile" />
      <logger name="*" level="Fatal" writeTo="Mail" />
      
		</rules>
	</nlog>
</configuration>
